<div class="container mt-5">
    <h2 class="text-center mb-4">Reservations</h2>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Table Type</th>
            <th>Description</th>
            <th>Reservation Time</th>
            <th>Reservation Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reservation of reservations">
            <td><strong>{{reservation.tableType}}</strong></td>
            <td><strong>{{reservation.description}}</strong></td>
            <td><strong>{{reservation.dateTime | date:'h:mm a'}}</strong></td>
            <td><strong>{{reservation.dateTime | date}}</strong></td>
            <td><strong>{{reservation.reservationStatus}}</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
