<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">Cafe Vista</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-collapse justify-content-end">
        <li class=""nav-item><a  class="nav-link" routerLink="/customer/dashboard">Dashboard</a></li>
        <li class=""nav-item><a  class="nav-link" >Seat Reserve</a></li>
        <li class=""nav-item><a  class="nav-link" >Seat Setting</a></li>
        <li class=""nav-item><a  class="nav-link" routerLink="logout" (click)="logout()" >Logout</a></li>
    </ul>
  </div>
</nav>
</div>
